<table class="w-full text-sm text-left text-gray-500">
  <thead>
    <tr>
      <th>Name</th>
      <th>Start Time</th>
      <th class='text-right'>Actions</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Airbrake Endorsement</td>
      <td>Aug 28, 2024</td>
      <td class='float-right'>
        <%= quiz_card_button_html(quiz:, user: current_user) %>
      </td>
    </tr>
  </tbody>
</table>
