<div class="max-w-screen-2xl ml-auto mr-auto">
  <div class='mb-6 p-6 bg-white rounded-lg'>
    <h2 class='text-xl mb-2 font-semibold'>Considering a career in trucking?</h2>
    <p class='max-w-prose mb-2'>
      The initial step is obtaining your CDL permit. In most states,
      acquiring the General Knowledge, Airbrake, and Combination Vehicle endorsements
      is a prerequisite for obtaining this permit. Don't worry – we've got your back!
      <% if !user_signed_in? %>
        <%= link_to 'Sign up', new_user_registration_path, class: 'btn btn--small btn--sml btn--save' %> now and start your preparation by practicing with our quizzes below.
        <p class='text-sm italic'>Already have an account? <%= link_to 'login', new_user_session_path,
                                                                       class: 'btn btn--sml btn--primary' %></p>
      <% else %>
        Start your preparation by practicing with our quizzes below.
      <% end %>
    </p>
  </div>
  <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 justify-items-center gap-2">
    <%= render partial: 'quiz_card', collection: @quizzes, as: 'quiz' %>
  </div>
</div>
