<h2 class="text-2xl font-bold mb-4">CDL Quizzes</h2>
<hr class="mb-6" />
<div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 justify-items-center gap-2">
  <%= render partial: 'quiz_card', collection: @quizzes, as: 'quiz' %>
</div>
