<section class="new-quiz bg-white rounded-lg p-6">
  <h2 class='text-xl font-bold border-b pb-2 mb-2'>Quiz Creator</h2>
  <p class='max-w-prose ml-2 mb-4'>
    <span class='font-semibold'>Hi there!</span><br>
    All new quizzes start in a <span class='font-semibold'>'Draft'</span> status. You'll need to add questions
    to your quiz in the next step after clicking <span class='font-semibold'>'Save Draft'</span> below.
    Here, you give the quiz a title and a short description before moving on.
  </p>
  <%= render 'form' %>
</section>
