<% if resource&.errors&.any? %>
  <div id="error_explanation" data-turbo-cache="false" class='flex flex-col w-full'>
    <ul>
      <% resource.errors.full_messages.each do |message| %>
        <li class='flex flex-col w-full py-3 px-5 mb-2 rounded-lg bg-flash--alert text-white'><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>
