<div class='flex flex-col w-full md:w-3/4 gap-y-2'>

  <% if @page_content %>

    <%= render "dashboard/users/#{@page_content}" %>

  <% else %>

    <%= render 'dashboard/users/home' %>

  <% end %>

</div>
