<footer class='bg-sky-600 text-white mt-auto py-6 z-50'>
  <div class="flex flex-col text-white mr-6 items-center">
    <a class="flex flex flex-grow items-center flex-shrink-0" href="/">
      <svg class="fill-current h-8 w-8 mr-2" width="54" height="54" viewBox="0 0 54 54" xmlns="http://www.w3.org/2000/svg"><path d="M13.5 22.1c1.8-7.2 6.3-10.8 13.5-10.8 10.8 0 12.15 8.1 17.55 9.45 3.6.9 6.75-.45 9.45-4.05-1.8 7.2-6.3 10.8-13.5 10.8-10.8 0-12.15-8.1-17.55-9.45-3.6-.9-6.75.45-9.45 4.05zM0 38.3c1.8-7.2 6.3-10.8 13.5-10.8 10.8 0 12.15 8.1 17.55 9.45 3.6.9 6.75-.45 9.45-4.05-1.8 7.2-6.3 10.8-13.5 10.8-10.8 0-12.15-8.1-17.55-9.45-3.6-.9-6.75.45-9.45 4.05z" /></svg>
      <span class="font-semibold text-xl tracking-tight">Trucking Nexus</span>
    </a>
  </div>
  <div>
    <%= copyright_div(class: 'text-white text-center text-xs') %>
  </div>
</footer>
