<section class='grid grid-rows-1 md:grid-cols-2 grid-cols-1 mb-20'>
  <div id="image_box_001" class=''>
    <%= image_tag "truck_home_pg_001.jpg", class: 'w-full' %>
  </div>
  <div class='flex items-center justify-center py-12 text-center text-white bg-sky-500'>
    <div>
      <p class='mb-4'>Prep for your<br /> Class A CDL permit</p>
      <%= link_to 'CDL Quizzes', quizzes_path(), class: 'btn btn--sml btn--transparent' %>
    </div>
  </div>
</section>