<table class="w-full text-sm text-left text-gray-500 border-separate border-spacing-2">
  <thead>
    <tr>
      <th>Name</th>
      <th>Started On</th>
      <th class='text-right'>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% user_quizzes.each do |user_quiz| %>
      <tr>
        <td><%= user_quiz.quiz.name %></td>
        <td><%= format_date(user_quiz.started_on) %></td>
        <td class='float-right'>
          <%= quiz_button(user_quiz:, user: current_user, size: :small) %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
