<section class='bg-white p-4 rounded-lg border border-zinc-300'>
  <h2 class="font-bold text-2xl mb-2">
    Driver's Logs
  </h2>

  <p class='max-w-prose mb-2'>
    This section allows drivers to get familiar with a standard <abbr title='Federal Motor Carrier Safety Adminstration'>FMCSA</abbr> driver log and required information. Get started by using the create new log button below.
  </p>

  <p class='max-w-prose mb-2'>
    Every driver is required to record his/her duty status
    for each 24-hour period using specific methods outlined by regulation.
    Logs/Records of Duty Status (RODs) must be kept current by showing each change in duty status.
  </p>

  <p>
    For more information on regulations visit the <a class='underline' href='#' target='_blank'>FMCSA's website</a>
  </p>

</section>

<section class='bg-white p-4 rounded-lg border border-zinc-300'>
  <div class='flex items-center'>
    <h2 class="font-bold text-2xl mr-4">
      Record of Duty Status Logs
    </h2>
    <%= link_to 'New Driver Log', new_driver_log_path, class: 'btn btn--md btn--primary' %>
  </div>
<section>
