<main class='flex-col space-y-4'>
  <section class='p-4 bg-white border border-zinc-300 rounded-lg'>
    <h2 class="font-bold text-2xl">CDL Prep Overview</h2>
    <p class='pb-2 mb-6'>An overview of your quiz results.</p>
  </section>

  <section class='p-4 bg-white border border-zinc-300 rounded-lg'>
    <h2 class='text-xl font-semibold mb-1'>Your Quizzes</h2>
    <% if @authored_quizzes.any? %>

      <%= render  partial: 'quizzes/tables/authored',
                  locals: { authored_quizzes: @authored_quizzes } %>

    <% else %>

      <p class="italic text-gray-500">No Active Quizzes</p>

    <% end %>
  </section>

  <section class='p-4 bg-white border border-zinc-300 rounded-lg'>
    <h2 class='text-xl font-semibold mb-1'>In Progress Quizzes</h2>
    <% if @active_quizzes.any? %>

      <%= render  partial: 'quizzes/tables/active',
                  locals: { user_quizzes: @active_quizzes } %>

    <% else %>

      <p class="italic text-gray-500">No Active Quizzes</p>

    <% end %>
  </section>

  <section class='p-4 bg-white border border-zinc-300 rounded-lg'>
    <h2 class='text-xl font-semibold mb-1'>Completed Quizzes: Last 30 days</h2>
    <% if @completed_quizzes.any? %>

        <%= render  partial: 'quizzes/tables/completed',
                    locals: { user_quizzes: @completed_quizzes } %>

    <% else %>

      <p class="italic text-gray-500">No Completed Quizzes</p>

    <% end %>
  </section>
</main>
