<%= turbo_frame_tag :rating do %>
  <div class='rating'>
    <div class='rating__stars flex mb-1'>
      <%= rating_stars(rating:) %>
    </div>
    <p class='rating__score font-semibold'><%= rating %> out of 5 Stars</p>
    <p class='rating__details'>
      <%= "#{review_count} #{'Review'.pluralize(review_count)}" %>
    </p>
  </div>
<% end %>
