<main class='relative h-full'>
  <div class='flex md:flex-col h-full md:flex-row gap-8'>

    <div class='absolute -left-[250px] top-20 active:left-0 transition-all ease-in-out duration-300'>
      <%= render partial: 'side_navigation', locals: { user: @user } %>
    </div>

    <div class='flex flex-col w-full md:w-3/4 gap-y-2'>

      <%= render partial: "dashboard/users/#{@page_content}" if @page_content %>

      <section class='bg-white p-4 rounded-lg border border-zinc-300'>

      </section>
    </div>
  </div>
</main>
